body {
	font-family: 'NeueHaasUnica-Light', 'Neue Haas Unica', 'Helvetica Neue', sans-serif; /*base font*/
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
}

p::selection {
	color: white;
	background: black;
}

ul.menu li {
	text-transform: uppercase; /*uppercase menu*/
	font-family: 'Poppins', 'Helvetica Neue', sans-serif; /*menu font*/
}

/********** main **********/

main {
	display: block;
	margin: auto; /*center all content*/
	max-width: 95%;
	padding: 80px 0; /*padding on top*/
}

/*intro*/

/*header image*/
main img {
	display: block;
	width: 100%;
	max-width: 400px;
	height: auto;
}

/*buttons*/
main a.button {
	font-family: 'Poppins', 'Helvetica Neue', sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid;
	border-radius: 0px;
	color: black;
	padding: 7px 7px 6px;
}

main a:hover.button {
	border: 0;
	border-radius: 0px;
	color: white;
	background: black;
	mix-blend-mode: multiply; /*transparent text*/
	padding: 8px 8px 7px; /*offset border*/
}

main .intro {
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	margin-bottom: 20px;
	height: 100%;
}

main .intro h2 {
	text-transform: lowercase;
	font-weight: 500;
	font-size: 2.5em;
	padding-top: 1em;
	padding-right: 30px;
}

main .intro img {
	width: 90%;
	height: auto;
}

main .description {
	padding: 20px;
	line-height: 1.5em;
	max-width: 300px;
	text-align: center;
	/* font-family: 'Neue Haas Unica'; */
}

main .description p {
	/* text-align: left; */
}

main .description p {
	padding-bottom: 20px;
}

main .description a.button {
	text-align: center;
}

main span.highlight {
	color: #C75571;
}

main .description h5 {
	font-family: 'NeueHaasUnica-Medium', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	text-transform: ;
	font-size: 1.2em;
	padding-bottom: 0.2em;
}

/*blocks*/

main .block-group {
	display: flex;
	justify-content: center;
	flex-flow: wrap row;
}

/*individual blocks*/
main .block {
	padding: 30px;
	border-radius: 0px;
	flex: 1 1 300px;
	max-width: 500px;
	height: auto;
	margin: 7px;
	padding: 10px;
}

main .block .description {
	margin: auto;
}

main .block .description p {
	font-size: 0.9em;
	line-height: 1.5em;
}

main .block .description p.tag {
	color: #C75571;
}

main .block img {
	max-width: 50%;
	margin: auto;
	padding: 40px 0 10px;
}

@media (min-width: 768px) {
	main .intro .description {
		text-align: left;
	}
}

/*footer*/

footer {
	position: relative;
	min-height: 200px;
	background: black;
	color: white;
	padding: 45px 30px;
	z-index: 0;
}

footer .info {
	position: absolute;
	bottom: 30px;
	font-size: .75em;
	display: flex;
	justify-content: space-between;
	width: calc(100vw - 70px);
	line-height: 30px;
}

footer .info .social {
	display: flex;
	width: 65px;
	justify-content: space-between;
}


footer .text {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	margin-bottom: 60px;
}

footer .text .category {
	width: 175px;
	margin-bottom: 20px;
}

footer .text h6, footer .text h6 a {
	font-family: 'Poppins', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 1em;
	color: white;
}

footer .text .category ul li,
footer .text .category ul li a {
	padding-bottom: 0.5em;
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.7)
}

footer .text .category ul li a:hover {
	text-decoration: underline;
}
