body {
	font-family: 'Harmonia Demo', 'Helvetica Neue', sans-serif;
}

ul.menu li {
	text-transform: uppercase;
}

/*main*/

main {
	display: block;
	margin: auto; /*center all content*/
	width: 97%;
	max-width: 1200px;
	padding: 40px 0; /*padding on top, bottom*/
}

main .intro {
	padding: 40px;
}

main .intro p {
	font-size: 1.4em;
	line-height: 1.5em;
	text-align: center;
	max-width: 600px;
	margin: auto;
}

main a.button {
	font-size: 0.8em;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid;
	border-radius: 5px;
	color: black;
	padding: 7px 7px 6px;
}

main a:hover.button {
	border: 0;
	border-radius: 5px;
	color: white;
	background: black;
	mix-blend-mode: multiply; /*transparent text*/
	padding: 8px 8px 7px; /*displace border*/
}

main .highlight {
	color: #C75571;
}

.case {
	margin: auto;
	max-width: 1100px;
	display: flex;
	height: 100%;
	flex-wrap: wrap;
}

.case img {
	display: block;
	width: 100%;
	height: auto;
}

.case .description {
	padding-top: 8px;
	padding-left: 1%;
}

@media (min-width: 900px) {
	.case {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.case img {
		max-width: 66.66%;
	}

	.case .description {
		max-width: 33.33%;
		padding-left: 2%;
	}
}

.case .description h2 {
	font-family: 'Baskerville', Georgia, 'Hoefler Text', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 2.25em;
	line-height: 1.5em;
}

.case .section {
	padding-top: 20px;
}

.case .description .section h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	line-height: 2.5em;
}

.case .description .section p {
	font-size: 1.125em;
	line-height: 1.4em;
}

/*footer*/

footer {
	position: relative;
	min-height: 200px;
	background: black;
	color: white;
	padding: 45px 30px;
	z-index: 0;
}

footer .info {
	position: absolute;
	bottom: 30px;
	font-size: .75em;
	display: flex;
	justify-content: space-between;
	width: calc(100vw - 70px);
	line-height: 30px;
}

footer .info .social {
	display: flex;
	width: 65px;
	justify-content: space-between;
}


footer .text {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	margin-bottom: 60px;
}

footer .text .category {
	width: 175px;
	margin-bottom: 20px;
}

footer .text h6, footer .text h6 a {
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 1em;
	color: white;
}

footer .text .category ul li,
footer .text .category ul li a {
	padding-bottom: 0.5em;
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.7)
}

footer .text .category ul li a:hover {
	text-decoration: underline;
}
