html {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  margin-left: calc(100vw - 100%);
}


/************ typography ************/

body {
  height: 100%;
  overflow: auto;
  background: black;
  color: white;
  font-family: sans-serif;
  line-height: 1.4em;
  font-family: "Camber DEMO";
}


h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  padding-bottom: 0.7em;
}

h3 {
  font-size: 0.8em;
  color: #BDC3C7;
  text-transform: uppercase;
  padding-bottom: 0.4em;
}



.menu {
  font-size: 1em;
  line-height: 2em;
  text-transform: uppercase;
}

@font-face {
  font-family: Camber DEMO;
  src: url("CamberDEMO-Rg.otf");
}

*::selection {
  background: white;
  color: black;
}

a, a.visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #999EA1;
}

/************ navigation ************/

nav {
  width: 250px;
  float: left;
  position: fixed;
  margin: 64px 0 0 64px;
}

.current {
  text-decoration: underline;
}

#logo {
  width: 20%;
  height: auto;
  margin-bottom: 30px;
}

/*************** main ***************/

.flex-display {
  display: flex;
  flex-flow: wrap;
}

.main {
  margin: 64px 100px 0 250px;
  margin-left: 250px;
  margin-right: 100px;
}

.caption {
  margin-top: 70px;
  padding-bottom: 40px;
}

img {
  width: 100%;
}

/*************** hover *************/

.hover-a {
  max-width: 23.25%;
  margin-bottom: -6px;
  padding: 0 1vw 1vw 0;
}

@media screen and (max-width:1100px) {
  .hover-a {
    max-width: 31%;
  }
}

@media screen and (max-width:900px) {
  .hover-a {
    max-width: 45%;
  }
}

.hover {
  position: relative;
  overflow: hidden;
}

.hover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .4s;
  background: rgba(0, 0, 0, 0.5);
}

.hover:hover .hover-overlay {
  opacity: 1;
  transition: .4s;
}

.hover-text {
  color: white;
  font-size: calc(1em + 0.25vw);
  line-height: 1.2em;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************** footer **************/

footer {
  position: absolute;
  bottom: 0;
}

footer p {
  display: inline;
  padding-right: 0.5em;
  font-size: .6em;
}

/************* list *************/

.list {
  padding-bottom: 3em;
}

.title {
  padding-bottom: 1em;
}

.albumlist {
  color: #D5DCE0;
  padding-bottom: 0em;
}

.tracklist {
  color: #D5DCE0;
  padding-bottom: 3em;
}

.tracklist li {
  line-height: 2em;
}

.albumlist li {
  line-height: 2em;
}

.credits {
  font-size: 0.9em;
  color: #BDC3C7;
  padding-bottom: 2em;
}

.album img{
  padding: 0.5em 0 2em 0;
  width: 100%;
  max-width: 300px;
}

/************ media ************/

.media {
  position: fixed;
  max-width: 550px;
}

.youtube {
  max-width: 300px;
}

.spotify {
  max-width: 300px;
}

/************ lyrics ***********/

.lyrics {
  color: #D5DCE0;
  padding: 70px 0 5em 0;
  font-size: 1.1em;
  line-height: 1.5em;
  font-family: sans-serif;
  margin-left: 650px;
  margin-right: 0;
}

.rm {
  color: #93D6FF;
  padding-top: 0.5em;
}

.sg {
  color: #FF8A87;
  padding-top: 0.5em;
}

.jh {
  color: #ADFFAC;
  padding-top: 0.5em;
}

.th {
  color: #B197FF;
  padding-top: 0.5em;
}

.jin {
  color: #FFA4D5;
  padding-top: 0.5em;
}

.jm {
  color: #FFFBAA;
  padding-top: 0.5em;
}

.jk {
  color: #FFB891;
  padding-top: 0.5em;
}

.vocal {
  color: #FFCDDB;
  padding-top: 0.5em;
}

.inv {
  color: black;
}

.special {
  font-family: Helvetica;
}


@media screen and (max-width:1300px) {
  .media {
    position: relative;
  }
  .lyrics {
    margin: 0;
    padding: 0;
  }
}
