/********* mobile ***************/

@media screen and (max-width:640px) {

html {
  height: 100%;
  box-sizing: border-box;
  margin-left: calc(100vw - 100%);
  overflow: auto;
}

/********** typography **********/

body {
  height: auto;
  width: 20em;
  margin: auto;
}

.hover-a {
  max-width: 31%;
}

.hover-overlay {
  display: none;
}

nav {
  position: relative;
  margin: 64px 64px 0 0;
}

.menu {
  display: none;
}

.main {
  margin: 0;
}

.credits {
  font-size: 0.9em;
  color: #BDC3C7;
  font-family: "Camber DEMO", sans-serif;
  padding-bottom: 2em;
}

.album img{
  padding: 0.5em 0 2em 0;
  max-width: 100%;
}

/************* list *************/

.list {
  padding-bottom: 3em;
}

.title {
  padding-bottom: 1em;
}

.albumlist {
  color: #D5DCE0;
  font-family: "Camber DEMO", sans-serif;
  padding-bottom: 0em;
}

.tracklist {
  color: #D5DCE0;
  font-family: "Camber DEMO", sans-serif;
  padding-bottom: 3em;
}

.tracklist li {
  line-height: 2em;
}

.albumlist li {
  line-height: 2em;
}

} /******** end mobile *********/
