html {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  margin-left: calc(100vw - 100%);
}

/****************** typography *****************/

body {
  height: 100%;
  overflow: auto;
  background: black;
  color: white;
  font-family: Camber DEMO,sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 3em;
  position: relative;
  min-height: 100%;
}

@font-face {
  font-family: Camber DEMO;
  src: url("CamberDEMO-Rg.otf");
}

*::selection {
  background: white;
  color: black;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  padding-bottom: 30px;
}

a, a.visited {
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  font-weight: 400;
}

#small-list {
  line-height: 2em;
  padding: 20px;
}

.flex-display a, .flex-display a:visited {
    text-decoration: none;
    color: white;
  }

.flex-display a:hover {
    color: gray;
  }

/****************** navigation *****************/

nav {
  width: 250px;
  float: left;
  position: fixed;
  padding: 50px 0 0 50px;
}

.current {
  text-decoration: underline;
}

#logo{
  width: 25%;
  height: auto;
}

/****************** main *****************/

.main {
  margin-left: 250px;
  margin-right: 5%;
}

.caption {
  padding-top: 54px;
  padding-bottom: 40px;
  font-size: 1.1em;
}

.flex-display {
  display: flex;
  flex-flow: row wrap;
}

.flex-display p {
  text-transform: none;
  font-size: 1.1em;
  line-height: 1.75em;
  padding-bottom: 2vw;
  max-width: 90%;
}

.hover-a {
  max-width: 23%;
  padding: 0 1vw 1vw 0;
}

@media screen and (max-width:1100px) {
  .hover-a {
    max-width: 31%;
  }
}

@media screen and (max-width:900px) {
  .hover-a {
    max-width: 45%;
  }
}
/** mobile **/
@media screen and (max-width:640px) {
  nav {
    display: none;
  }
  .main {
    margin: 0;
  }
  .hover-a {
    max-width: 32%;
  }
  .hover-overlay {
    display: none;
  }
  html {
    overflow: auto;
  }
  body {
    height: auto;
  }
}
/** end mobile **/

img {
  width: 100%;
  border-bottom: 40px transparent;
  margin-bottom: -20px;
}

/****************** hover overlay *****************/

.hover {
  position: relative;
  overflow: hidden;
}

.hover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s;
  background: rgba(0, 0, 0, 0.5);
}

.hover:hover .hover-overlay {
  opacity: 1;
  transition: .4s;
}

/** .hover:hover img {
  transform: scale(1.07);
  transition: .6s;
} **/

.hover-text {
  color: white;
  font-size: calc(1em + 0.25vw);
  line-height: 1.2em;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****************** album *****************/

#album {
  justify-content: flex-start;
}

#album p {
  padding: 0 0 15px 15%;
}

#media {
  margin-top: 23%;
}

#media ul {
  line-height: 2em;
}

#kor p {
  font-family: AppleGothic;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.column-3 p {
  line-height: 0.1px;
}

.rm {
  color: #93D6FF;
}

/****************** footer *****************/

footer {
  position: absolute;
  bottom: 0;
}

footer p {
  display: inline;
  padding-right: 0.5em;
  font-size: .6em;
}
